[submodule "apps/rebalancer"]
	path = apps/rebalancer
	url = git@github.com:steffenix/rebalancer.git
	branch = master
[submodule "apps/redex"]
	path = apps/redex
	url = git@github.com:coosto/redex.git
	branch = master
[submodule "apps/apxr"]
	path = apps/apxr
	url = git@github.com:Rober-t/apxr.git
	branch = master
[submodule "apps/mandelixir"]
	path = apps/mandelixir
	url = https://github.com/ericentin/mandelixir
	branch = master
[submodule "apps/coincoin"]
	path = apps/coincoin
	url = git@github.com:robinmonjo/coincoin.git
	branch = master
[submodule "apps/ex-mustang-slack-bot"]
	path = apps/ex-mustang-slack-bot
	url = git@github.com:techgaun/ex_mustang.git
	branch = master
[submodule "apps/poxa-pusher-server"]
	path = apps/poxa-pusher-server
	url = git@github.com:edgurgel/poxa.git
	branch = master
